header {

    user-select: none;
    .text-shadow-x {
        text-shadow: 0 0 1px #fff;
        @apply scale-[1.025];
    }

    .box-shadow-b {
        box-shadow: 0 0 3px #fff;
    }
}

.menu-x {
    transition: opacity 0.75s;
}

.space-x {
    animation-name: space_x;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

.space-x-2 {
    animation-name: space_x_2;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    color: #fff;
    font-size: 25px;
    font-family: monospace;
    text-shadow: 0 0 5px hsla(0, 93%, 6%, 0.5);
    border-radius: 5px;
}


$ty: 2px;

@keyframes space_x {
    0% {
        transform: translateY(0px) scaleX(-1);
    }

    25% {
        transform: translateY(calc($ty)) scaleX(-1);
    }

    75% {
        transform: translateY(calc(-1 * $ty)) scaleX(-1);
    }

    100% {
        transform: translateY(0px) scaleX(-1);
    }
}

@keyframes space_x_2 {
    0% {
        transform: translateY(0px);
    }

    25% {
        transform: translateY(calc($ty));
    }

    75% {
        transform: translateY(calc(-1 * $ty));
    }

    100% {
        transform: translateY(0px);
    }
}