<h1 class="text-4xl font-mono text-center mt-5"> ▲ MyService & Works </h1>
<h2 class="text-2xl font-mono text-center mt-2">Realtime</h2>
<div class="flex justify-center flex-wrap mt-10">
    <div *ngFor="let repo of contributedRepos" class="pt-5">
        <ServiceRepo [repo]="repo" />
    </div>
</div>

<div class="flex justify-center mt-10">
    <div (click)="deleteCache()"
        class="flex items-center justify-center bg-[#911111] text-gray-500 hover:bg-[#f22222] transition duration-150 ease-in-out hover:text-gray-300 text-md rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-2 py-1">
        <mat-icon class="text-lg mb-[5px]">delete</mat-icon>
        <button class="ml-[-3px]">Delete Cache</button>
    </div>
</div>
