<Layout>
    <div class="flex justify-around w-screen select-none">
        <div>
            <img src="assets/typer.png" alt="typer" width="500">
        </div>
        <div class="flex flex-col justify-center items-center">
            <h1 class="text-4xl font-mono">Welcome to Ame-x.net! <span class="hidden">ame_x</span></h1>
            <h2 class="text-lg font-mono">The site is managed by <a href="https://twitter.com/amex2189"
                    class="text-green-300 text-shadow-x">Ame_x.</a></h2>
        </div>
    </div>
    <div class="flex justify-center items-center w-screen">
        <Icon size="50px" type="50%" />
    </div>
</Layout>