<main class="main flow" cards-raw>
    <h3 class="main__heading">Ability</h3>
    <div class="main__cards cards">
        <div class="cards__inner">
            <div class="cards__card card card-lite-1">
                <h2 class="card__heading">Desktop App development</h2>
                <p class="card__title">Electron & Tauri</p>
                <ul role="list" class="card__bullets flow">
                    <li check>I have experience developing desktop apps.</li>
                    <li check>using Electron and Tauri.</li>
                </ul>
                <button (click)="toPage('/profile#skill-x-' + (Math.random() > 0.5 ? 'Electron' : 'Tauri'))"
                    class="card__cta cta">See more</button>
            </div>

            <div class="cards__card card card-lite-2">
                <h2 class="card__heading">Framework development</h2>
                <p class="card__title">Anything</p>
                <ul role="list" class="card__bullets flow">
                    <li check>I have experience in developing frameworks.</li>
                    <li check>I am also developing Fullstack frameworks and more.</li>
                    <li check>I am developing a framework called Naxt.js.</li>
                </ul>
                <button (click)="toPage('/profile#skill-x-Naxt.js')" class="card__cta cta">See more</button>
            </div>

            <div class="cards__card card card-lite-3">
                <h2 class="card__heading">Server Development</h2>
                <p class="card__title">Deno & Node.js</p>
                <ul role="list" class="card__bullets flow">
                    <li check>I can build servers using Hono, etc.</li>
                    <li check>Multiple libraries are available.</li>
                    <li check>I can create an useful API.</li>
                </ul>
                <button (click)="toPage('/profile#skill-x-' + (Math.random() > 0.5 ? 'Deno' : 'NodeJS'))"
                    class="card__cta cta">See more</button>
            </div>
        </div>

        <div class="overlay cards__inner"></div>
    </div>
</main>