.invert-x {
  filter: invert(1);
} 

.skills-x {
  & > div {
    margin: 0px 5px;
  }
}

.skill-x {
  filter: drop-shadow(0px 0px 2px rgb(255, 255, 255));
}

.circle-x {

  .icon-x {
    border-radius: 5px;
    margin: 0 auto;
  }
}
