<div class="min-h-[80vh]">
    <h1 class="text-4xl font-mono text-center mt-5">
        <span class="transform scale-150">●</span> Profile
        <span class="hidden"> Ame_x </span>
    </h1>
    <div class="flex justify-center mt-5">
        <Icon size="100px" />
    </div>
    <div class="text-center mt-5">
        <h2 class="text-4xl font-mono">Ame_x</h2>
        <h3 class="text-md font-mono text-gray-300 mt-3">@amex2189 / @EdamAme-x</h3>
        <h4 class="text-xl font-mono text-gray-300 mt-2">Fullstack Developer</h4>
        <h5 class="text-md font-mono text-gray-300 mt-2">I'm good at framework development, etc.</h5>
        <h5 class="text-md font-mono text-gray-300 mt-2">Mailto: <a href="mailto:admin@ame-x.net"
                class="text-blue-400">admin@ame-x.net</a></h5>
    </div>
    <div class="mt-5 flex justify-center">
        <input (input)="searchSkill($event)" placeholder="Search Skill"
            class="border border-gray-200 rounded p-2 text-black text-center mt-3" />
    </div>
    <div class="mt-5 flex justify-center flex-wrap skills-x">
        <div *ngFor="let skill of skills" class="mx-5 skill-x w-[350px]">

            <div [id]="'skill-x-' + skill['name']"
                class="bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700  m-2">
                <div class="w-full flex justify-center p-4">
                    <img [class]="'rounded-t-lg ' + haveIinvert(skill)" [src]="skill['icon']" alt="Skill-Icon"
                        width="100" height="100" />
                </div>
                <div class="p-5">
                    <a href="#">
                        <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">{{
                            skill["name"] }}</h5>
                    </a>
                    <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
                        Level: {{ skill["level"] }}
                    </p>
                    <p class="mb-3 font-normal text-gray-700 dark:text-gray-400"
                        [innerHTML]="skill['desc'] ? skill['desc'] : ''"></p>
                    <a [href]="skill['case'] ? skill['case'] : '#'" target="_blank"
                        class="w-full inline-flex items-center justify-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                        See Case
                        <svg class="w-3.5 h-3.5 ml-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                            viewBox="0 0 14 10">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M1 5h12m0 0L9 1m4 4L9 9" />
                        </svg>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <p class="my-3 text-center font-normal text-gray-700 dark:text-gray-400">
        <span *ngFor="let define of defines
        let i = index
        " [title]="define.desc">
            {{ define.name }} {{ (i !== defines.length - 1) ? ' > ' : '' }}
        </span>
    </p>
</div>
<div class="h-full w-full transition duration-500 pointer-events-none" [style]="'opacity: ' + bgOpacity / 100 + ';'">
    <div class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 z-[-1] scale-[15] opacity-[0.1]"
        [style]="'filter: invert(72%) sepia(26%) saturate(6428%) hue-rotate(1deg) brightness(105%) contrast(102%);'">
        <IconAtom point="A" />
    </div>
</div>