<h1 class="text-3xl font-mono text-center mt-5 h1-x"> ■ Blog & Articles </h1>
<h2 class="text-2xl font-mono text-center mt-5"><span class="hidden">From Zenn / @amex2189 / Ame_X</span></h2>
<div>
    <div class="mt-5 flex justify-center">
        <p class="mx-2">
            <mat-icon class="text-lg mb-[-5px]">favorite</mat-icon> : {{ allLiked }}
        </p>
    </div>
</div>
<div [id]="selector" class="my-5 mt-10 flex justify-center md:justify-between w-[67%] mx-auto">
    <input placeholder="Search" (input)="searchBlog($event)"
        class="search-x border border-gray-300 text-gray-300 text-md rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-2 py-1.5" />
    <select (change)="sortBy($event)"
        class="bg-gray-800 text-gray-300 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-2.5 py-1 w-[100px]">
        <option value="更新順">
            更新順
        </option>
        <option value="評価順">
            評価順
        </option>
    </select>
</div>
<div class="mt-5 flex flex-wrap items-center justify-center">
    <div *ngFor="let article of articles" class="mt-5">
        <div class="mx-5 blog-x p-5 w-[350px]">
            <a [href]="'https://zenn.dev/ame_x/articles/' + article['slug']">
                <div class="inline-flex justify-between">
                    <span class="h-[40px] text-4xl">{{ article['emoji'] }}</span>
                    <h3 class="h-[40px] font-bold ml-2" [style]="'overflow: hidden; text-overflow: ellipsis;'">{{
                        article['title'] }}</h3>
                </div>
                <div class="mt-1 flex flex-col">
                    <!-- Read: {{ article['body_letters_count'] }}
                    Like: {{ article['liked_count'] }}
                    Comment: {{ article['comments_count'] }}
                    Published: {{ article['published_at'] }}
                    Type: {{ article['article_type'] }} -->
                    <div class="flex justify-between flex-wrap mt-1">
                        <p class="text-sm font-mono"><mat-icon class="text-lg mb-[-6px]">access_time</mat-icon>: {{
                            convertToUserTime(article['published_at'])}}</p>
                    </div>
                    <div class="flex justify-between mt-2">
                        <p class="text-sm font-mono mx-1"><mat-icon class="text-lg mb-[-6px]">comment</mat-icon>: {{
                            article['comments_count'] }}</p>
                        <div
                            class="w-[80px] text-xs inline-flex items-center font-bold leading-sm uppercase px-3 py-1 bg-red-200 text-red-700 rounded-full">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24"
                                fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round" class="feather feather-archive mr-2">
                                <polyline points="21 8 21 21 3 21 3 8"></polyline>
                                <rect x="1" y="3" width="22" height="5"></rect>
                                <line x1="10" y1="12" x2="14" y2="12"></line>
                            </svg>
                            {{ article['article_type'] }}
                        </div>
                        <p class="text-sm font-mono mx-1"><mat-icon class="text-lg mb-[-6px]">favorite</mat-icon>: {{
                            article['liked_count'] }}</p>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
<div class="flex justify-center mt-10">
    <div (click)="deleteCache()"
        class="flex items-center justify-center bg-[#911111] text-gray-500 hover:bg-[#f22222] transition duration-150 ease-in-out hover:text-gray-300 text-md rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-2 py-1">
        <mat-icon class="text-lg mb-[5px]">delete</mat-icon>
        <button class="ml-[-3px]">Delete Cache</button>
    </div>
</div>

<!-- { "id": 210233, "post_type": "Article", "title": "Math.random() は内部的に何を行っているのか。", "slug": "b3ada5021ed174", "comments_count": 1, "liked_count": 42, "body_letters_count": 3079, "article_type": "tech", "emoji": "🎲", "is_suspending_private": false, "published_at": "2023-10-17T18:21:01.006+09:00", "body_updated_at": "2023-10-19T13:30:37.435+09:00", "source_repo_updated_at": null, "pinned": false, "path": "/ame_x/articles/b3ada5021ed174", "user": { "id": 128904, "username": "ame_x", "name": "ame-x@amex2189", "avatar_small_url": "https://res.cloudinary.com/zenn/image/fetch/s--Bx8XG6Pg--/c_limit%2Cf_auto%2Cfl_progressive%2Cq_auto%2Cw_70/https://storage.googleapis.com/zenn-user-upload/avatar/8674e481dd.jpeg" }, "publication": null } -->
<!--
title: ariticle.title
url: "https://zenn.dev/ame_x/articles/" + ariticle.slug
emoji: ariticle.emoji
comments_count: ariticle.comments_count
liked_count: ariticle.liked_count
readed_count: ariticle.body_letters_count
type: ariticle.article_type
published_at: ariticle.published_at
-->