<div class="flex justify-around w-screen select-none">
    <div class="w-[500px] h-[550px] cover-x">
        <img class="hero-x" src="assets/typer.webp" alt="typer" width="500" height="550" />
    </div>
    <div class="flex flex-col justify-center items-center cache-x">
        <h1 class="text-4xl font-mono">
            Welcome to Ame-x.net! <span class="hidden">ame_x</span>
        </h1>
        <h2 class="text-lg font-mono">
            The site is managed by
            <a href="https://twitter.com/amex2189" class="text-green-300 text-shadow-x">Ame_x.</a>
        </h2>
    </div>
</div>
<div class="flex flex-col justify-center items-center w-full">
    <section class="text-lg font-mono desc-x p-1">
        <p class="flex">
            Hi, I specialize in
            <span class="text-green-400">&nbsp;Framework&nbsp;</span>
            development with a focus on
            <img src="parts/js.svg" alt="js" class="h-[16px] mt-[5.5px] ml-[12px] mr-[2.5px] icon-x" width="16"
                height="16" /><span class="text-yellow-400">JavaScript&nbsp;</span> & <img src="parts/ts.svg" alt="ts"
                class="h-[17px] mt-[4.5px] ml-[12px] mr-[2.5px] icon-x" width="17" height="17" /><span
                class="text-blue-400">TypeScript</span>.
        </p>
        <p class="flex">
            I have some proficiency in various web-based tasks.
        </p>
    </section>
</div>
<div class="flex flex-col justify-center items-center w-full">
    <LayoutPartsAbility />
</div>
<div class="flex flex-col justify-center items-center w-full">
    <LayoutPartsRocket />
</div>
<div class="flex flex-col justify-center items-center w-full">
    <LayoutPartsLinks />
</div>
<div class="flex flex-col justify-center items-center w-full">
    <LayoutPartsTechs />
</div>
<div class="flex flex-col justify-center items-center w-full">
    <LayoutPartsCrosslink />
</div>
<div>
    <h5 class="text-xl font-mono text-center mt-5">Server Info</h5>
    <p class="text-lg font-mono text-center">CPU: {{ cpuUsage }}%</p>
</div>