.text-shadow-x {
    text-shadow: 0 0 1px #fff;
  }
  
  .desc-x {
    p {
      flex-wrap: wrap;
    }
  }
  
  @media (max-width: 1000px) {
    .desc-x {
      p {
        @apply text-sm;
      }
    }
  
    .icon-x {
      width: 0 !important;
      margin-left: 8px;
    }
  
    .hero-x {
      position: absolute;
    }
  
    .cache-x {
      position: absolute;
      top: 50%;
      z-index: 9;
      transform: translateY(-50%);
      background-color: rgba(0, 0, 0, 0.697);
      h1 {
        @apply text-3xl;
      }
      h2 {
        @apply text-lg;
      }
    }
  }
  
  @media (max-width: 600px) {
    .cover-x {
      height: 450px;
    }
  
    .cache-x {
      h1 {
        @apply text-2xl;
      }
      h2 {
        @apply text-lg;
      }
    }
  }
  
  @media (max-width: 400px) {
    .cover-x {
      height: 350px;
    }
  }
  